{% extends 'base.html' %}


{% block head %}
<title>Admin Control Page</title>
<link rel="stylesheet" type="text/css" href="../static/css/admin.css">
<script type="text/javascript" src="../static/js/admin_login.js"></script>
{% endblock %}


{% block body %}
<body onload="document.getElementById('admin_passwd').focus()">
    <h1 style="display:inline">Co-op election admin authentication page</h1>
    <object align="right"><a href="/">< Home</a></object>
    <hr class="top"/>
    <div class="candidates">
    
    <br />
    <h3 style="display:inline">Password:</h3> <input type="text" id="admin_passwd" name="admin_passwd">
    <form action="" method="POST" onsubmit="return update_salt('admin_passwd', 'salted_passwd', '{{passwd_salt}}')">
        <input type="hidden" id="salted_passwd" name="salted_passwd">
        <input type="submit" value="Login">
    </form>
    <br />

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p style="color:red;font-style:italic;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </p>
    {% else %}
        <br />
    {% endif %}
    {% endwith %}

    <p style="color:red;font-style:italic;" id="alert_text"> &nbsp; </p>
    <b>Change password:</b> <input type="text" id="new_passwd" name="new_passwd"><br />
    <b>Confirm new password: <input type="text" id="confirm_new_password" name="confirm_new_password" onkeyup="confirm_password_match()"> </b>
    <form action="" method="POST" onsubmit="return validate_new_password('confirm_new_password', 'new_salted_passwd', '{{new_salt}}', '{{passwd_salt}}')">
    <input type="hidden" id="old_salted_passwd" name="old_salted_passwd">
    <input type="hidden" id="new_passwd_salt" name="new_passwd_salt">
    <input type="hidden" id="new_salted_passwd" name="new_salted_passwd">    
    <input type="Submit" value="Change password">
    </form>

</body>
{% endblock %}
