{% extends 'base.html' %}


{% block head %}
<title>Vote Successful - CSHC</title>
<link rel="stylesheet" type="text/css" href="../static/css/admin.css">
{% endblock %}


{% block body %}
<body>
    <div class="votes">
    <h1 style="display:inline">Co-op elections page</h1>
    <object align="right"><a href="/">< Home</a> &nbsp; <a href="/admin">Admin ></a></object>
    <hr class="top"/>
    <br />
    Your vote has been registered.
    <center><font size="7">-( ͡° ͜ʖ ͡°),  {{current_year}}.</font></center>
</body>
{% endblock %}
